name: Discord Notify

on:
  push:
    branches:
      - main
      - master

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send message to Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          REPO="${{ github.repository }}"
          BRANCH="${{ github.ref_name }}"
          ACTOR="${{ github.actor }}"
          COMMIT_SHA="${{ github.sha }}"
          SHORT_SHA=$(echo "$COMMIT_SHA" | cut -c1-7)
          MSG="${{ github.event.head_commit.message }}"
          URL="https://github.com/${REPO}/commit/${COMMIT_SHA}"

          curl -H "Content-Type: application/json" \
          -d "{\"username\":\"GitHub\",\"content\":\"[${REPO}:${BRANCH}] 1 new commit\n\`${SHORT_SHA}\` ${MSG} - ${ACTOR}\n${URL}\"}" \
          "$DISCORD_WEBHOOK"
